/* RESET */
* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

.section {
    padding-top: 20px;
}

main {
    background-color: #f6f5f3;
}


/* COMMON */
/* Layout */

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.small-container{
    width: 80%;
    margin: 0 auto;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #ffffff;
    margin: 20px;
}

/* HEADER */
.nerko-one-regular {
    font-size: 40px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    border-color: 3px solid #706c6c;
}

/* /HEADER */


/* MAIN */
/* section title */
.title-tipology {
    color: #a4a4a4;
    font-size: 15px;
}

.addition,
.title-dessert {
    color: #4e3969;
    font-weight: 800;
    ;
}

.addition {
    display: none;
}

/* /section title */


/* short-section */
.text-short {
    padding: 20px 40px;
}

.list-short {
    list-style: none;
    line-height: 30px;
    font-size: 12px;
}

/*/short-section */


/*************/
/* Responsive Tablet */

@media screen and (min-width:768px) {

    /* Layout */
    .container {
        padding: 0 40px;
    }

    .row {
        justify-content: flex-start;
    }

    /* title-section */
    .nerko-one-regular {
        font-size: 50px;
    }

    .addition {
        display: inline-block;
    }

    /* video-section */
    .video {
        width: 100%;
    }

    /* short-section */
    .list-short {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .list-short li {
        width: 30%
    }

}

/* Responsive Desktop */

@media screen and (min-width:992px) {

    /* Layout */
    .container {
        width: 80%;
        padding: 0 40px;
    }

    .small-container{
        width: 60%;
    
    }
    .row{
        display: flex;
    }
    .col-70{
        width: 70%;
    }

    .col-30{
        width: 30%;
    }

    /* title-section */
    .nerko-one-regular {
        font-size: 60px;
    }

     /* short-section */
     .list-short{
        display: block;
     }

}