/* RESET */
* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

.section {
    padding-top: 20px;
}

main {
    background-color: #f6f5f3;
}


/* COMMON */
/* Layout */

.container {
    width: 100%;
    padding: 0 20px;
    margin: o auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.nerko-one-regular {
    font-size: 40px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: #ff9614;
    border-color: 3px solid #706c6c;
}

/* /HEADER */


/* MAIN */
/* section title */
.title-tipology {
    color: #a4a4a4;
    font-size: 15px;
}

.addition,
.title-dessert {
    color: #4e3969;
    font-weight: 800;
    ;
}

.addition {
    display: none;
}

/* /section title */


/* video-section */
.video {
    height: 230px;
}
/* video-section */

/*************/
/* Responsive Tablet */

@media screen and (min-width:768px) {

    .row {
        padding: 20px;
        justify-content: flex-start;
    }

    /* title-section */
    .addition {
        display: inline-block;
    }
}